<nav class="util-Grid kscr-Paging">
  <div class="util-Grid-cell util-Grid">
    <span
      ng-pluralize
      count="results.itemCount"
      when="{'0': 'No results', '1': '1 course', 'other': 'Course {{item.index}} of {}'}"></span>
    <span class="show-for-small-only">
      &nbsp;&bull;&nbsp;
      <a ui-sref="app.search.results.list">Back to results</a>
    </span>
  </div>
  <div class="util-Grid">
    <span ng-switch="previousItem === null">
      <span class="kscr-Paging-navItem kscr-Paging-navItem--disabled" ng-switch-when="true">Previous</span>
      <a class="kscr-Paging-navItem" ng-switch-default ui-sref="app.search.results.details({ index: previousItem.index, code: previousItem.courseOfferingCode })">Previous</a>
    </span>
    <span ng-switch="nextItem === null">
      <span class="kscr-Paging-navItem kscr-Paging-navItem--disabled" ng-switch-when="true">Next</span>
      <a class="kscr-Paging-navItem" ng-switch-default ui-sref="app.search.results.details({ index: nextItem.index, code: nextItem.courseOfferingCode })">Next</a>
    </span>
  </div>
</nav>

<section>
  <h1>{{item.courseOfferingCode}} <strong>{{item.title}}</strong></h1>

  <button>Register</button>

  <h2>Prerequisites</h2>
  <p>CHEM131, CHEM135, or CHEM146; and (CHEM132, CHEM136, or CHEM147)</p>

  <h2>Additional Grading Options</h2>
  <p>Audit, Pass/Fail</p>

  <h2>Description</h2>
  <p>The chemistry of carbons: aliphatic compounds, aromatic compounds, stereochemistry, arenes, halides, alcohols, esters, and spectroscopy.</p>
  <p>Crosslisted as CHEM233.</p>

  <h2>Additional Activities</h2>

  <h3>Labs</h3>
  <ul>
    <li ng-repeat="activity in activityOfferings">
      {{activity.time}}
    </li>
  </ul>

</section>