<!--
<a ui-sref="app.search.query">New Search</a>
<a
  class="kscr-Nav-item" href
  ng-class="{ 'kscr-Nav-item--active': showSearch }"
  ng-click="showSearch = !showSearch">Modify Search</a>

<p>
  <div>
    {{searchCriteria.term.label}}
    <strong>{{searchCriteria.query}}</strong>
  </div>
  <div>
    <a ui-sref="app.search.query">Change search criteria</a>
  </div>
</p>
-->


<form ng-if="showSearch" class="kscr-Search">

  <label for="searchTerm" class="kscr-Search-label">Term</label>
  <select id="searchTerm" ng-model="searchCriteria.termId" ng-options="t.id as t.label for t in terms"></select>

  <label for="searchCourses" class="kscr-Search-label">Courses</label>
  <div class="kscr-Search-query">
    <input id="searchCourses" type="text" class="kscr-Search-queryInput" placeholder="ENGL, ENGL2, ENGL200" ng-model="searchCriteria.query"/>
    <span class="kscr-Search-queryButton">
      <button ui-sref="app.results.list">Go</button>
    </span>
  </div>

</form>

{{stuffs}}

<div>

  <section
    class="kscr-Results medium-5 column"
    ng-class="{ 'hide-for-small-only': $state.includes('app.search.results.details') }">
    <h1 class="util-Visibility--screenReadersOnly">Search Results</h1>

    <p class="kscr-Results-count"
      ng-pluralize
      count="results.itemCount"
      when="{'0': 'No courses found', '1': '1 course found', 'other': '{} courses found'}"></p>

    <ol class="kscr-COList">
      <li ng-repeat="co in results.items">
        <section
          class="kscr-COItem"
          ui-sref="app.search.results.details({ index: co.index, code: co.courseOfferingCode })"
          ui-sref-active="kscr-COItem--active">
          <header class="kscr-COItem-header">
            <h1 class="kscr-COItem-headline">
              <a
                class="kscr-COItem-code"
                ui-sref="app.search.results.details({ index: co.index, code: co.courseOfferingCode })"
                ng-click="$event.stopPropagation()">{{co.courseOfferingCode}}</a>
              <span class="kscr-COItem-title">{{co.courseOfferingDesc}}</span>
            </h1>
            <span class="kscr-COItem-credits" ng-bind-html="co | credits"></span>
          </header>
          <div class="kscr-COItem-body">
            <div ng-bind-html="co.schedule | meetingTimes"></div>
            <span class="text-right">{{co.enrollmentCount}}/{{co.activityOfferingMaxSeats}}</span>
          </div>
          <div class="kscr-COItem-body">
            <span>{{co.formatOfferingName}}</span>
            <div class="text-right">
              <div ng-repeat="instructor in co.instructors">
                {{instructor.firstName}} {{instructor.lastName}}
              </div>
            </div>
          </div>
        </section>
      </li>
    </ol>
  </section>

  <div
    class="medium-7 column"
    ng-class="{ 'hide-for-small-only': !$state.includes('app.search.results.details') }">
    <div ui-view></div>
  </div>

</div>