// Bookmark Widget
// --------------------------------------------------

#bookmarks_widget {
  margin-top: 57px;
  margin-left: 10px;

// Bookmark loading
  .ksap-bookmark-widget-loading .blockElement {
    position: inherit !important; //Declared inline
    width: auto !important; //Declared inline
    top: 0 !important; //Declared inline
  }


// Empty bookmark list message
  .ksap-bookmark-widget-empty {
    margin: 7px;
  }

// Bookmark list height and overflow
  #bookmark_summary_layout {
    max-height: 455px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ksap-bookmark-widget-row .uif-horizontalBoxGroup {
    position:relative;
  }

// Bookmark list line items
  li:hover {
    background: #F5F5F5;
  }
  li .ksap-bookmark-widget-row {
    border-bottom: 0;
    border-top: 1px solid #ccc;
    padding: .5rem;
  }
  li:first-child .ksap-bookmark-widget-row {
    border-top: 0;
  }
  .ksap-bookmark-widget-courseid {
    padding-right: .3rem;
  }
  .ksap-text-ellipsis {
    padding-right: .6rem;
  }
  .ksap-bookmark-widget-credits,
  [class*="icon-"] {
    float: none;
    position: absolute;
    right: 0;
  }
  [class*="icon-"] {
    width:13px;
  }
  .ksap-bookmark-widget-credits {
    right: 30px;
  }
  .ks-fontello-icon-hollow-circled-plus {
    right: 15px;
  }

  .uif-sectionHeader {
    min-height: 0px;
  }
}