<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2005-2018 The Kuali Foundation

    Licensed under the Educational Community License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.opensource.org/licenses/ecl2.php

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd" version="2.1">

    <description>Kuali functions library</description>
    <display-name>Kuali functions</display-name>
    <tlib-version>1.0</tlib-version>
    <short-name>kfunc</short-name>
    <uri>http://www.kuali.org/jsp/jstl/functions</uri>

    <function>
        <description>Removes any duplicating spacing (internal or on the ends) from a String, meant to be exposed as a tag library function.</description>
        <name>scrubWhitespace</name>
        <function-class>org.kuali.rice.kns.util.FieldUtils</function-class>
        <function-signature>java.lang.String scrubWhitespace(java.lang.String)</function-signature>
        <example>&lt;c:out value="${kfunc:scrubWhitespace(stringWithTonsAndTonsOfWhitespaceInItLikeAllTheStringsBuiltInJSP)}"></example>
    </function>
    
    <function>
        <description>Returns the TabState for the given tab key in the action form.</description>
        <name>getTabState</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>org.kuali.rice.kns.util.TabState getTabState(org.kuali.rice.kns.web.struts.form.KualiForm, java.lang.String)</function-signature>
        <example>&lt;c:set var="tabState" value="${kfunc:getTabState(KualiForm, tabTitle)}"></example>
    </function>
    
    <function>
        <description>Generates a key from a string that can be used for the tab state key.</description>
        <name>generateTabKey</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>java.lang.String generateTabKey(java.lang.String)</function-signature>
        <example>&lt;c:set var="tabKey" value="${kfunc:generateTabKey(tabTitle)}"></example>
    </function>
    <function>
        <description>Increment tabindex and add a new TabState to the HashMap.</description>
        <name>incrementTabIndex</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>void incrementTabIndex(org.kuali.rice.kns.web.struts.form.KualiForm, java.lang.String)</function-signature>
        <example>${kfunc:incrementTabIndex(kualiForm)}</example>
    </function>
    <function>
    	<description>Registers that a property was editable on the page.</description>
    	<name>registerEditableProperty</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>void registerEditableProperty(org.kuali.rice.kns.web.struts.form.pojo.PojoFormBase, java.lang.String)</function-signature>
	    <example>${kfunc:registerEditableProperty(KualiForm, editablePropertyName)}</example>
	</function>
	
	<function>
    	<description>Check Fully Unmask Permission.</description>
    	<name>canFullyUnmaskField</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean canFullyUnmaskField(java.lang.String, java.lang.String, org.kuali.rice.kns.web.struts.form.KualiForm)</function-signature>
	    <example>${kfunc:canFullyUnmaskField(businessObjectClassName, fieldName, kualiForm)}</example>
	</function>
	<function>
    	<description>Check Partially Unmask Permission.</description>
    	<name>canPartiallyUnmaskField</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean canPartiallyUnmaskField(java.lang.String, java.lang.String, org.kuali.rice.kns.web.struts.form.KualiForm)</function-signature>
	    <example>${kfunc:canPartiallyUnmaskField(businessObjectClassName, fieldName, kualiForm)}</example>
	</function>
	<function>
    	<description>Get Fully Masked Value</description>
    	<name>getFullyMaskedValue</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>java.lang.String getFullyMaskedValue(java.lang.String, java.lang.String, java.lang.Object, java.lang.String)</function-signature>
	    <example>${kfunc:getFullyMaskedValue(className, fieldName, kualiForm, propertyName)}</example>
	</function>
	<function>
    	<description>Get Partially Masked Value</description>
    	<name>getPartiallyMaskedValue</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>java.lang.String getPartiallyMaskedValue(java.lang.String, java.lang.String,, java.lang.Object, java.lang.String)</function-signature>
	    <example>${kfunc:getPartiallyMaskedValue(className, fieldName, kualiForm, propertyName)}</example>
	</function>
    <function>
    	<description>Check to see if field is configured to be hidden on inquiry screens.</description>
    	<name>isInquiryHiddenField</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean isInquiryHiddenField(java.lang.String, java.lang.String, java.lang.Object, java.lang.String)</function-signature>
	    <example>${kfunc:isInquiryHiddenField(className, businessObjectClassName, fieldName, kualiForm)}</example>
	</function>
	<function>
    	<description>Check to see if kim object type should be hidden on inquiry screens.</description>
    	<name>isHiddenKimObjectType</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean isHiddenKimObjectType(java.lang.String, java.lang.String)</function-signature>
	    <example>${kfunc:isHiddenKimObjectType(typeCode, configParameter)}</example>
	</function>
	<function>
    	<description>Check Add Note Permission</description>
    	<name>canAddNoteAttachment</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean canAddNoteAttachment(org.kuali.rice.krad.document.Document)</function-signature>
	    <example>${kfunc:canAddNoteAttachement(document)}</example>
	</function>
	<function>
    	<description>Check View Note Permission</description>
    	<name>canViewNoteAttachment</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean canViewNoteAttachment(org.kuali.rice.krad.document.Document, java.lang.String)</function-signature>
	    <example>${kfunc:canAddNoteAttachement(document, attachmentTypeCode)}</example>
	</function>
	<function>
    	<description>Check Delete Note Permission</description>
    	<name>canDeleteNoteAttachment</name>
	    <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
	    <function-signature>boolean canDeleteNoteAttachment(org.kuali.rice.krad.document.Document, java.lang.String, java.lang.String)</function-signature>
	    <example>${kfunc:canDeleteNoteAttachement(document, attachmentTypeCode, authorUniversalIdentifier)}</example>
	</function>
    <function>
        <description>get a named image url for a button, looking first for a property application.custom.image.url.(given image name).  If that is not found, a default image URL is generated</description>
        <name>getButtonImageUrl</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>java.lang.String getButtonImageUrl(java.lang.String)</function-signature>
        <example>${kfunc:getButtonImageUrl(imageName)}</example>
    </function>
    <function>
      <description>get a named image for an attachment based on its content type code.</description>
      <name>getAttachmentImageForUrl</name>
      <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
      <function-signature>java.lang.String getAttachmentImageForUrl(java.lang.String)</function-signature>
      <example>${kfunc:getAttachmentImageForUrl(contentType)}</example>
    </function>
    <function>
        <description>check config properties to determine if environment is production</description>
        <name>isProductionEnvironment</name>
        <function-class>org.kuali.rice.krad.util.KRADUtils</function-class>
        <function-signature>boolean isProductionEnvironment()</function-signature>
        <example>${kfunc:isProductionEnvironment()}</example>
    </function>
    <function>
    	<description>Converts whitespace which would be ignored by HTML into HTML elements.  This converts newlines in the given string to HTML breaks and multiple spaces into multiple nbsp</description>
    	<name>preserveWhitespace</name>
    	<function-class>org.kuali.rice.kns.util.WebUtils</function-class>
    	<function-signature>java.lang.String preserveWhitespace(java.lang.String)</function-signature>
    	<example>${kfunc:preserveWhitespace("foo\n\nbar")}</example>
    </function>
    <function>
        <description>Fetches the display name of a KIM Group when given the group ID</description>
        <name>getKimGroupDisplayName</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>java.lang.String getKimGroupDisplayName(java.lang.String)</function-signature>
        <example>${kfunc:getKimGroupDisplayName("1234")}</example>
    </function>
    <function>
        <description>Fetches the display name for a principal when given the principal ID</description>
        <name>getPrincipalDisplayName</name>
        <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
        <function-signature>java.lang.String getPrincipalDisplayName(java.lang.String)</function-signature>
        <example>${kfunc:getPrincpalDisplayName("1234")}</example>
    </function>
    <function>
      <description>Fetches the display name for a role when given an ActionRequest with a role recipient.</description>
      <name>getRoleDisplayName</name>
      <function-class>org.kuali.rice.kns.util.WebUtils</function-class>
      <function-signature>java.lang.String getRoleDisplayName(org.kuali.rice.kew.api.action.ActionRequest)</function-signature>
      <example>${kfunc:getRoleDisplayName(actionRequest)}</example>
    </function>
  <function>
      <description>Check to see if a matching qualifier exists</description>
      <name>matchingQualifierExists</name>
      <function-class>org.kuali.rice.kim.web.utils.KimWebUtils</function-class>
      <function-signature>boolean matchingQualifierExists(java.util.List,java.lang.Integer, java.lang.String)</function-signature>
      <example>${kfunc:matchingQualifierExists(member,index, atttrDefnId)}</example>
  </function>

</taglib>
