$ns: '.kscr-Button';

#{$ns} {
}

button[disabled] {
  opacity: 0.5;
}

#{$ns}--primary {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: $primary-button-color; 
  background-image: $primary-button-background-image;
  border-color: $primary-button-border-color;
  color: $primary-button-font-color;
  text-shadow: $primary-button-text-shadow;
}

#{$ns}--secondary {
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #CCCCCC #CCCCCC #B3B3B3;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}