$ns: '.kscr-Searchs';

#{$ns} {
  //background-color: tint($primary-color, 90%);
  // border-bottom: 1px solid $border-color-normal;
  //padding: 0.5em;
  //position: absolute;
  //right: 0;
  //border-bottom: 1px solid #ccc;
}

#{$ns}-item {
  //margin: 1em;
}
