/**
 * Copyright 2005-2012 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * jsTree krms theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

/* get rid of ugly link underlines in tree */
.jstree-viewrule .boxLayoutHorizontalItem { background: transparent; }
.jstree-viewrule .boxLayoutVerticalItem { background: transparent; }

.jstree-viewrule > ul { background-color:transparent; }
.jstree-viewrule > ul > li{ margin-left: 15px; border-bottom: none; padding-bottom: 5px; }
.jstree-viewrule li,
.jstree-viewrule ins {  }
.jstree-viewrule li { display: inline-block; background-position:-90px 0; background-repeat:repeat-y; }
/*
.jstree-viewrule li.jstree-last { background:transparent; }
*/
.jstree-viewrule .jstree-open a:not(.uif-action) { color: black; height: auto; }
.jstree-viewrule .jstree-closed a { display: none; }
.jstree-viewrule .jstree-open > ins { display: none; }
.jstree-viewrule .jstree-closed > ins { display: none; }
.jstree-viewrule .jstree-leaf > ins { display: none; }
.jstree-viewrule li.jstree-last a:not(.uif-action) { cursor: text; height: auto; }

.jstree-viewrule li.jstree-last a.btn-link { cursor: pointer; color: #0088cc; }
.jstree-viewrule li.jstree-last a.btn-link:hover { color: #005580; }
.jstree-viewrule .ks-uif-footer { float: left; }
.jstree-viewrule .ks-uif-footer div { float: left; }

.jstree-viewrule .ruleBlockSelected { background-color: transparent; border: none; }

.jstree-viewrule .boxLayoutHorizontalItem {padding-bottom: 0em;padding-top: 0em;padding-left: 0em;padding-right: 0em;}
.jstree-viewrule .boxLayoutVerticalItem { padding-bottom: 0em;padding-top: 0em;padding-left: 0em;padding-right: 0em;}
.jstree-viewrule  > ins { display:none; }
/*
.jstree-viewrule a { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; text-shadow:1px 1px 1px white; }
*/
.jstree-viewrule .jstree-hovered { background-color: transparent; }
.jstree-viewrule .jstree-clicked { /* background:#beebff; border:1px solid #99defd; padding:0 3px 0 1px; */ }
.jstree-viewrule a .jstree-icon { display: none; }
.jstree-viewrule a .jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }
.jstree-viewrule a.uif-action { color: #3F7826; display: inline-block; height: 16px; line-height: 16px; margin: 0; padding: 1px 2px; text-decoration: none; white-space: nowrap; }

.jstree-viewrule.jstree-focused { background: none; }

.jstree-viewrule .jstree-no-dots li,
.jstree-viewrule .jstree-no-dots .jstree-leaf > ins { display: none; }
.jstree-viewrule .jstree-no-dots .jstree-open > ins { display: none; }
.jstree-viewrule .jstree-no-dots .jstree-closed > ins { display: none; }

.jstree-viewrule .jstree-no-icons a .jstree-icon { display:none; }

.jstree-viewrule .jstree-search { font-style:italic; }

.jstree-viewrule .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-viewrule .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-viewrule .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-viewrule .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-viewrule .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-viewrule .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree-viewrule .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-viewrule .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-viewrule ins { background:transparent !important; }
#vakata-dragged.jstree-viewrule .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-viewrule .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-viewrule { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-viewrule a.jstree-search { color:aqua; }
.jstree-viewrule .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-viewrule-context,
#vakata-contextmenu.jstree-viewrule-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-viewrule-context li { }
#vakata-contextmenu.jstree-viewrule-context a { color:black; }
#vakata-contextmenu.jstree-viewrule-context a:hover,
#vakata-contextmenu.jstree-viewrule-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-viewrule-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-viewrule-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-viewrule-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-viewrule-context li ul { margin-left:-4px; }

/* TODO: IE6 support - the `>` selectors */