<div class="row">

  <div class="kscr-Header util-Grid util-Grid--center">

    <span class="kscr-Header-title kscr-Logo util-Grid-cell">Course Registration</span>

    <nav class="kscr-Header-nav kscr-Nav">
      <a
        class="kscr-Nav-item"
        ng-class="{ 'kscr-Nav-item--active': $state.includes('app.search') }"
        ng-href="{{srefs['app.search']}}">Search</a>
      <a class="kscr-Nav-item" href="{{appUrl}}registration/index.jsp#/myCart">Cart</a>
      <a class="kscr-Nav-item" href="{{appUrl}}registration/index.jsp#/mySchedule">Schedule</a>

        <!-- <a
                class="kscr-Nav-item" href="{{}}"
                ui-sref="app.cart"
                ui-sref-active="kscr-Nav-item--active">Cart</a> -->
        <!-- <a
                class="kscr-Nav-item"
                ui-sref="app.schedule"
                ui-sref-active="kscr-Nav-item--active">Schedule</a> -->
    </nav>

  </div>

  <div class="kscr-Main" ui-view></div>

</div>