/**
 * Copyright 2005-2014 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  background: white
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
  color: @link-color;
}

ol, ul {
  list-style: none;
  margin: 0;
}

h1, h2, h3 {
  line-height: 20px;
}

label {
  cursor: text;
  display: inline;
}

input, textarea, .uneditable-input {
  width: inherit;

}

input[type="radio"], input[type="checkbox"] {
  //margin: 0px;
  cursor: pointer;
}

input[type="radio"] + label, input[type="checkbox"] + label {
  font-weight: normal;
}

/* disabled inputs sibling labels are greyed out */
input[disabled] + label {
  color: #888888;
}

/* hide IE10 "clear field" button on input fields */
input::-ms-clear {
  display: none;
}

.uif-text-underline {
  text-decoration: underline;
}

.uif-text-larger {
  font-size: 125%;
}

/* Bootstrap 3rc2 overrides */

body {
  margin: 0px;
}

input[type="text"], input[type="password"], textarea {
  display: inline;
  width: inherit;
}

.form-control {
  height: inherit;
  width: inherit;
}

ul {
  padding: 0px;
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.dropdown-menu {
  list-style: none !important;
}

/** Accessibility **********************************************************************************/
.offScreen {
  .sr-only
}

/* Layout related ****************************************************************************************/

.clearfix {
  clear: both;
}

div.clearfix:after {
  display: block;
  height: 0;
  width: auto;
  clear: both;
  visibility: hidden;
}

/* IE specific */
* html .clearfix {
  height: 1%;
}

.uif-table-fixed {
  width: 100%;
  table-layout: fixed;
}

.uif-linkGroup div {
  display: inline;
  float: none;
  margin-right: 0px;
}

.uif-listLayout ul li {
  list-style: disc inside none;
}

.uif-listLayout ol li {
  list-style: decimal inside none;
}

.uif-placeholder {
  display: none;
  margin: 0px !important;
  padding: 0px !important;
}

.dataTables_length select {
  width: 80px;
}

/** inline block cross browser support **/
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

/** inline block cross browser support **/
a.inlineBlock, span.inlineBlock {
  vertical-align: baseline;
}

/** for required message below expand collapse button content */
.uif-requiredInstructionsMessage {
  float: none;
}

/** for info messages that can appear in fields **/
.uif-informationalMessage {
  display: block;
}

/** message that can be configured with an image control **/
.uif-cutlineMessage {
  padding-left: 5px;
  clear: both;
  display: block;
}

/** highlight color when something is disclosed **/
.uif-progressiveDisclosure-highlight {
  background-color: #FFF8C6;
}

.uif-rightAligned-headerFieldGroup {
  float: right;
}

/** Block ui plugin customizations ***********************************************************************/

div.blockOverlay {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
  opacity: 0;
  -moz-opacity: 0;
  z-index: 10100 !important;
}

div.blockElement {
  padding: 0;
  margin: 0;
  top: 40%;
  left: 0 !important;
  background-color: white;
  text-align: center;
  color: #000;
  //  border: 3px solid #aaa;
  cursor: wait;
  z-index: 10101 !important;
}

div.blockPage {
  padding: 0;
  margin: 0;
  width: 30%;
  top: 40%;
  left: 35%;
  text-align: center;
  color: #000;
  //  border: 3px solid #aaa;
  background-color: white;
  opacity: 0.6;
  cursor: wait;
  z-index: 10101 !important;
  padding-bottom: 12px;
}

div.blockPage h1 {
  font-size: 20px;
  line-height: 28px;
}

div.blockPage h1 img {
  margin-right: 10px;
}

/** Side by side comparison styles ******************************************************************/

img.uif-changedHeaderIcon {
  padding-left: 5px;
  padding-right: 5px
}

/** Radios and Checkboxes (fieldsets)**************************************************************/

fieldset[data-type="RadioSet"], fieldset[data-type="CheckboxSet"] {
  display: inline;
  padding-right: 0.5em;
  max-width: 64em;
}

fieldset[data-type="InputSet"] {
  display: inline;
}

.uif-verticalRadioFieldset > span, .uif-verticalCheckboxesFieldset > span {
  clear: both;
  float: left;
  padding-left: 0.5em;
}

.uif-horizontalRadioFieldset > span, .uif-verticalCheckboxesFieldset > span {
  padding-left: 0.5em;
}

/** Help  *******************************************************************************************/
.uif-helpImage {
  margin-left: .2em;
}

.btn.btn-link.uif-helpAction {
  margin-top: -5px;
  padding: 0px;
}

/* div wrapper for the timer countdown plugin, by default want to display inline with the message */
div.hasCountdown {
  display: inline;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3 /*{borderColorDefault}*/;
  background: none;
  background-color: #fff;
  font-weight: normal /*{fwDefault}*/;
  color: #555555 /*{fcDefault}*/;
}

.ui-tabs .ui-tabs-panel {
  border: none;
  border-width: none;
}

.ui-helper-reset {
  border: inherit
}

.ui-widget-header {
  border: 1px solid #ccc /*{borderColorHeader}*/;
  background: #fff /*{bgColorHeader}*/;
  color: #222222 /*{fcHeader}*/;
  font-weight: bold;
}

.ui-tabs-bottom .ui-widget-header {
  background: #fff /*{bgColorHeader}*/;
  color: #222222 /*{fcHeader}*/;
  font-weight: bold;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #CCC;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
}

.ui-state-active a, .ui-state-active a:hover {
  color: #000;
  font-weight: bold;
}

.ui-datepicker {
  z-index: 9999 !important;
}

//:focus {
//    -webkit-transition: all 0.15s ease-in-out;
//    transition: all 0.15s ease-in-out;
//}

/* auto truncate table cells */
.uif-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}






