<#macro ksap_app_footer group>
<div id="applicationFooter">
    <div id="applicationFooterSection">
        <div class="version smaller" title="${Request.request.serverName}">Version: ${ConfigProperties['ksap.version']}</div>
    </div>
</div>
</#macro>