div.jquerybubblepopup-ks-form .jquerybubblepopup-innerHtml { background-color:#F0F0F0; }

div.uif-popup-closebutton {
    background: url('buttonClose.png') no-repeat right top;
    width:16px;
    height: 16px;
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
}

td.jquerybubblepopup-innerHtml > .uif-bubblepopup-content {
    margin: 10px;
}

/* defeat img.vertical-align:baseline def in enroll.css */
img.jquerybubblepopup-tail {
    vertical-align: top;
}