/*
 * Copyright 2006-2014 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@color-Edit: yellow;
@color-Shade: darken(#fff, 20%);

.uif-inlineEdit {
  &-view {
    border: 1px solid transparent;
    border-bottom: 1px dashed #0077cc;
    display: inline-block;
    padding: 2px 3px;
    background: transparent;
    position: relative;
    min-height: 24px;
    min-width: 3em;

    &:hover, &:focus {
      border: 1px solid #ccc;
      background: #fff;
    }
    & pre{
      display: inline-block;
      margin: 0px;
      background: none;
      border: none;
      padding: 0px;
      text-align: left;
    }
    &:after {
      display: none;
      position: absolute;
      right: -24px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      padding-top: 2px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-family: "krad-icons";
      content: "\e606";
      color: #999;
      background: #e2e2e2;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 13px;
    }
    &:hover:after, &:focus:after {
      display: block;
    }
  }

  &-edit {
    display: none;
    background-color: lighten(@color-Edit, 45%);
    border: 1px dashed darken(@color-Edit, 5%);
    padding: 0.5em;
  }
}

.uif-inlineEdit-buttons {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
  outline: medium none;
  padding: 3px;
}

.uif-inlineEdit-buttons button {
  border: 1px solid #ccc;
  box-shadow: none;
}

[data-inline_edit] > .alert {
  padding: 0;
  margin-top: 5px;
}

[data-inline_edit] > .alert .uif-clientMessageItems, [data-inline_edit] > .alert .uif-serverMessageItems {
  padding: 5px;
}








