/**
 * Copyright 2005-2013 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * jsTree editrule theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

/* get rid of ugly link underlines in tree */
a.editNode { height: 0; }
li.editNode > ins { display: none; }
li.simpleNode > ins { display: none; }

li.compoundOpCodeNode > ins { display: none; }
li.compoundOpCodeNode > a { display: none; }

.jstree-editrule .boxLayoutHorizontalItem { background: transparent; }
.jstree-editrule .boxLayoutVerticalItem { background: transparent; }

.jstree-editrule > ul { background-color:transparent; }
.jstree-editrule ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-editrule li { background-position:-18px 0; background-repeat:repeat-y; margin-left: 36px; }
.jstree-editrule li.jstree-last { background:transparent; }
.jstree-editrule .jstree-open a:not(.uif-action, .uif-actionLink) { color: black; height: auto; }
.jstree-editrule .jstree-closed a { text-shadow: 1px 1px 0.2em #ccc; }
.jstree-editrule .jstree-open > ins { background-position:-18px 0; }
.jstree-editrule .jstree-closed > ins { background-position:0px 0; }
.jstree-editrule li.jstree-last a:not(.uif-action) { height: auto; }

.jstree-editrule .editModeNode { background-color: #EEEEEE; border: 1px solid; margin-bottom: 5px; margin-left: 18px; margin-right: 5px; padding: 10px; }

.jstree-editrule .ruleBlockSelected {background-color:#e7f4f9 !important; border: 1px dashed #69f; }
.jstree-editrule .ruleCutSelected { background-color:#F4E271 !important; border: 1px dashed goldenrod; }

.jstree-editrule .boxLayoutHorizontalItem {padding-bottom: 0em;padding-top: 0em;padding-left: 0em;padding-right: 0em;}
.jstree-editrule .boxLayoutVerticalItem { padding-bottom: 0em;padding-top: 0em;padding-left: 0em;padding-right: 0em;}

.jstree-editrule .jstree-hovered { background:#beebff; /* background:#e7f4f9; border:1px solid #d8f0fa; padding:0 3px 0 1px; text-shadow:1px 1px 1px silver; */ }
.jstree-editrule .jstree-clicked { /* background:#beebff; border:1px solid #99defd; padding:0 3px 0 1px; */ }
.jstree-editrule a .jstree-icon { background-position:-56px -20px; }
.jstree-editrule a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }
.jstree-editrule a.uif-action, a.uif-actionLink, a.btn-link { color: #0088CC; }

.jstree-editrule .jstree-focused { background:white; }

.jstree-editrule .jstree-no-dots li, 
.jstree-editrule .jstree-no-dots .jstree-leaf > ins { display: none; }
.jstree-editrule .jstree-no-dots .jstree-open > ins { display: none; }
.jstree-editrule .jstree-no-dots .jstree-closed > ins { display: none; }

.jstree-editrule .jstree-no-icons a .jstree-icon { display:none; }

.jstree-editrule .jstree-search { font-style:italic; }

.jstree-editrule .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-editrule .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-editrule .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-editrule .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-editrule .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-editrule .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree-editrule .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-editrule .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-editrule ins { background:transparent !important; }
#vakata-dragged.jstree-editrule .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-editrule .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-editrule { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-editrule a.jstree-search { color:aqua; }
.jstree-editrule .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-editrule-context, 
#vakata-contextmenu.jstree-editrule-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-editrule-context li { }
#vakata-contextmenu.jstree-editrule-context a { color:black; }
#vakata-contextmenu.jstree-editrule-context a:hover, 
#vakata-contextmenu.jstree-editrule-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-editrule-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-editrule-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-editrule-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-editrule-context li ul { margin-left:-4px; }

/* TODO: IE6 support - the `>` selectors */