<nav class="util-Grid kscr-Paging">
  <div class="util-Grid-cell util-Grid">
    <span
      ng-pluralize
      count="results.itemCount"
      when="{'0': 'No results', '1': '1 course', 'other': 'Course {{item.index}} of {}'}"></span>
    <span class="show-for-small-only">
      &nbsp;&bull;&nbsp;
      <a ui-sref="app.search.results.list">Back to results</a>
    </span>
  </div>
  <div class="util-Grid">
    <span ng-switch="previousItem === null">
      <span class="kscr-Paging-navItem kscr-Paging-navItem--disabled" ng-switch-when="true">Previous</span>
      <a class="kscr-Paging-navItem" ng-switch-default ui-sref="app.search.results.details({ index: previousItem.index, code: previousItem.courseOfferingCode })">Previous</a>
    </span>
    <span ng-switch="nextItem === null">
      <span class="kscr-Paging-navItem kscr-Paging-navItem--disabled" ng-switch-when="true">Next</span>
      <a class="kscr-Paging-navItem" ng-switch-default ui-sref="app.search.results.details({ index: nextItem.index, code: nextItem.courseOfferingCode })">Next</a>
    </span>
  </div>
</nav>

<section>
  <div class="kscr-course-details">
  <div class="kscr-course-details-header">
    <div class="kscr-course-details-headline">
      <h1>{{item.courseOfferingCode}} <strong>{{item.title}}</strong></h1>
    </div>

      <button class="primary-button">Register</button>
  
  </div>
  <div class="kscr-course-details-body">
  <div class="section-divider">
    <h2><strong>Prerequisites</strong></h2>
  
    <p>CHEM131, CHEM135, or CHEM146; and (CHEM132, CHEM136, or CHEM147)</p>
  </div>

    <h2><strong>Additional Grading Options</strong></h2>
    <div ng-switch on="hasAdditionalGradingOptions">
      <p ng-switch-when="true">{{additionalGradingOptions.join(', ')}}</p>
      <p ng-switch-when="false">No other grading options are available.</p>
    </div>
  </div>

    <h2><strong>Description</strong></h2>
    <p>The chemistry of carbons: aliphatic compounds, aromatic compounds, stereochemistry, arenes, halides, alcohols, esters, and spectroscopy.</p>
    <p>Crosslisted as CHEM233.</p>

    <div ng-if="hasSecondaryActivityOfferings">
      <h2><strong>Additional Activities</strong></h2>
      <div class="kscr-course-details-additionalActivities" ng-repeat="aoType in regGroups.activityOfferingTypes">
        <h3>{{aoType.name}}</h3>
        <p>{{aoType.description}}</p>
       
        <ul class="kscr-course-details-additional-list">
          <li ng-repeat="ao in aoType.activityOfferings">
            <label class="util-Grid" ng-class="{ 'kscr-ActivityOffering--selected': ao.isSelected }">
              <input type="radio" ng-model="selectedAOIdsByActivityType[aoType.name]" ng-value="ao.activityOfferingId" ng-change="selectedActivityOffering()"/>
              <strong class="util-Grid-cell">{{ao.activityOfferingCode}}</strong>
              <span class="util-Grid-cell" ng-bind-html="ao.schedule | meetingTimes"></span>
              <span class="util-Grid-cell">{{ao.schedule.buildingCode}} {{ao.schedule.roomCode}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
</section>

