
<div class="kscr-cartResult-item kscr-Card-status kscr-Card-status--{{cartResultItem.status}}">
    <div class="kscr-Card-icon">&nbsp;</div>

    <!-- Displays block with course info if course is not waitlisted -->
    <div class="kscr-cartResult-content" ng-if="cartResultItem.status != statuses.waitlist">
        <!--credits-->
        <div class="kscr-cartResult-supportText">
            <ng-pluralize count="cartResultItem.credits" when="{'1': '{} cr', 'other': '{} cr'}"></ng-pluralize>
        </div>

        <!--Course Header Section-->
        <div class="ng-scope kscr-cartResult-heading">
            <span class="kscr-Card-title-alert" id="course_code_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseCode}} ({{cartResultItem.regGroupCode}}) {{getStatusMessageFromStatus(cartResultItem.status)}}</span>
        </div>

        <div class="kscr-cartResult-aoInfo">
            <ng-include src="'aoInfo.html'"></ng-include>
        </div>

        <div ng-if="cartResultItem.statusMessages && (cartResultItem.status != statuses.success) && (cartResultItem.status != statuses.processing)"
             id="result_status_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}"
             class="kscr-Card-detailsText kscr-Card-detailsText--{{cartResultItem.status}}"
             ng-show='cartResultItem.statusMessages'>
            <div class="kscr-Card-reason">
                <div class="kscr-Card-reason-label"><strong>Reason:</strong></div>
                <div class="kscr-Card-reason-messages">
                    <div class="kscr-Card-reason-message" ng-repeat="message in cartResultItem.statusMessages">
                        <span id="reason_message_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}"
                              validation-message message="message" course="cartResultItem"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- All Error cards must provide the ability to add the item back into the cart -->
        <div class="kscr-Card-buttons">
            <div class="kscr-Card-button" ng-if="(cartResultItem.status == statuses.error)">
                <!-- Add to cart, then remove the result item-->
                <button class="kscr-Button" id="addBackToCart_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" ng-click="addCartItemToCart(cartResultItem);  removeCartResultItem($index);">
                    <span ng-if="!directRegister">Keep in Cart</span>
                    <span ng-if="directRegister">Put in Cart</span>
                </button>
            </div>

            <div class="kscr-Card-button" ng-if="cartResultItem.statusMessages && (cartResultItem.status == statuses.action)">
                <button class="kscr-Button" id="waitlist_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" ng-click="addCartItemToWaitlist(cartResultItem)">Add to Waitlist</button>
            </div>

            <!-- Dismiss Button-->
            <div class="kscr-Card-button">
                <button class="kscr-Button" id="course_remove_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" ng-click="removeCartResultItem($index)">Dismiss</button>
            </div>
        </div>
    </div>

    <!-- Displays block with course info if course is waitlisted (even though it technically "failed" we display it as "success" that it was added to waitlist) -->
    <div class="kscr-cartResult-content" ng-if="cartResultItem.status == statuses.waitlist">
        <div class="ng-scope kscr-cartResult-heading">
            <span class="kscr-Card-title-alert" id="waitlisted_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">Added to Waitlist</span>
        </div>

        <div class="kscr-Card-text-alert" id="waitlisted_message_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.waitlistMessage}}</div>

        <div class="kscr-Card-detailsText kscr-Card-detailsText--waitlist">
            <div class="ng-scope">
                <span class="kscr-Card-title-alert" id="waitlisted_course_code_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}">{{cartResultItem.courseCode}} ({{cartResultItem.regGroupCode}})</span>
            </div>
            <div class="kscr-cartResult-aoInfo">
                <ng-include src="'aoInfo.html'"></ng-include>
            </div>
        </div>

        <div class="kscr-Card-buttons">
            <!-- Dismiss Button-->
            <div class="kscr-Card-button">
                <button class="kscr-Button" id="course_remove_{{cartResultItem.courseCode}}_{{cartResultItem.regGroupCode}}" ng-click="removeCartResultItem($index)">Dismiss</button>
            </div>
        </div>
    </div>
</div>



<script type="text/ng-template" id="aoInfo.html">
    <!--AO info: type, time, location-->
    <div class="kscr-Card-text-alert">
        <div ng-repeat="ao in cartResultItem.activityOfferings" ng-if="cartResultItem.activityOfferings">
            <span class="kscr-Card-courseTimes--results">
                <div class="kscr-Card-ao-type">{{ao.activityOfferingTypeName | limitTo : 3}}</div>
                <div ng-repeat="scheduleComponent in ao.scheduleComponents" class="kscr-Card-scheduleComponent">
                    <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatLeft  kscr-Card-ao-type--time">{{scheduleComponent.days}} {{scheduleComponent.displayTime}}</span>
                    <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatRight">{{scheduleComponent.buildingCode}} {{scheduleComponent.roomCode}}</span>
                    <span ng-show="scheduleComponent.isTBA" class="util-Grid--floatRight">TBA</span>
                </div>
                <div class="util-Grid--clearfix"></div>
            </span>
        </div>
    </div>
</script>