
<div class="kscr-Help">
    <h2 class="kscr-Help-heading">Grading</h2>

    <h3 class="kscr-Help-subheading">Letter</h3>
    <p class="kscr-Help-paragraph">
        Students are assessed on the standard letter grading scale of A - F.
    </p>

    <h3 class="kscr-Help-subheading">Pass/Fail</h3>
    <p class="kscr-Help-paragraph">
        Under the pass-fail option, a course that is completed with a passing grade will count
        toward the student's total credit hours but will not be computed in the grad point average.
        A course that is completed with a failing grade will appear on the student's record and
        will be computed both in the overall average and in the semester average.
    </p>

    <h3 class="kscr-Help-subheading">Audit</h3>
    <p class="kscr-Help-paragraph">
        A student may register to audit a course or courses in which space is available. Tuition and fees are
        the same as when taken for credit. The notation "AUD" is placed on the transcript for each course audited.
        Courses taken for audit are not included in the calculation of full-time/part-time status.
    </p>

    <div class="kscr-Help-buttons">
        <span>
            <button id="dismiss_help" class="kscr-Button" type="button" ng-click="$close()">Dismiss</button>
        </span>
    </div>
    <div class="util-Grid--clearfix"></div>
</div>