<div class="kscr-Main-scheduleWrapper" ng-class="{ 'kscr-Main-scheduleWrapper--active' : uiState == 'root.schedule' }">
    <div>
        <!--ScheduleMain Heading-->
        <div class="kscr-MainHeading util-Grid util-Grid--center" ng-class="{'kscr-Splash-header':!showSchedule()}">
            <div class="util-Grid-cell">
                <a ui-sref="root.cart">
                    <div class="kscr-Button-directional-left">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <div class="kscr-MainHeading-roundedText">{{cartCourseCount()}}</div>
                    </div></a>
                <div class="kscr-MainHeading-header">My Schedule</div>
                <a ui-sref="root.search"><div class="kscr-Button-directional-right"><i class="glyphicon glyphicon-search"></i></div></a>
            </div>
            <div class="util-Grid--clearfix"></div>
        </div>

        <div class="kscr-MainHeading-toggles" ng-show="showSchedule() || showGrid()" ng-init="selectedTab = 'list'">
            <a id="scheduleToggleToList" class="kscr-MainHeading-toggle" ng-click="selectedTab = 'list'"
               ng-class="{'kscr-MainHeading-toggle--selected' : selectedTab === 'list' || !selectedTab,
                                          'kscr-MainHeading-toggle--disabled' : !showGrid() }">
                <span><i class="glyphicon glyphicon-list"></i>List</span>
            </a>
            <a id="scheduleToggleToGrid" class="kscr-MainHeading-toggle" ng-click="selectedTab = 'grid'"
               ng-class="{'kscr-MainHeading-toggle--selected' : selectedTab === 'grid',
                                          'kscr-MainHeading-toggle--disabled' : !showGrid() }">
                <span><i class="glyphicon glyphicon-calendar"></i>Grid</span>
            </a>
        </div>

        <course-calendar class="kscr-Main-calendar" ng-if="showGrid()"
                         ng-class="{'kscr-Main-calendar--selected' : selectedTab === 'grid'}"></course-calendar>

        <div class="kscr-Main-scheduleTab" ng-class="{'kscr-Main-scheduleTab--selected' : !selectedTab || selectedTab === 'list'}">
            <div class="kscr-Main-schedule" ng-if="showSchedule()">
                <!-- display registered courses via the course-card directive -->
                <div class="kscr-Registered-container"
                     course-card type="{{courseTypes.registered}}" credits="registeredCredits()" schedules="getSchedule"></div>
                <!-- display waitlisted courses via the course-card directive -->
                <div ng-class="{'kscr-Waitlisted-container':true,'kscr-Waitlisted-container--inactive':!showWaitlist()}"
                     course-card type="{{courseTypes.waitlisted}}" credits="waitlistedCredits()" schedules="getSchedule"></div>
            </div>

            <div class="kscr-Splash" ng-if="!showSchedule()">
                <div class="kscr-Splash-card">
                    <img class="kscr-Splash-logo" src="images/logo_kuali.png" />
                    <p class="kscr-Splash-heading">You are not registered for any courses in this term.</p>
                    <p class="kscr-Splash-message">Get started by searching for courses or adding them directly to your cart.</p>
                </div>
            </div>
        </div>
    </div>
</div>