<div class="kscr-Search-results-container">
    <!-- Search Facets -->
    <div sticky mask-screen="isExpanded" class="kscr-SearchFacets" ng-class="{'kscr-SearchFacets--expanded' : isExpanded}">
        <div id="showFacetsToggle" class="kscr-SearchFacets-toggle">
            <a id="show_facets_toggle" ng-click="isExpanded = !isExpanded">
                <span id="showFacets" class="kscr-SearchFacets-toggle-label">Filter</span>
                <span class="kscr-SearchFacets-toggle-countLabel" ng-show="filteredResults.length !== searchResults.length">({{filteredResults.length}} of {{searchResults.length}})</span>
                <span class="kscr-SearchFacets-toggle-showLabel">
                    <span class="kscr-SearchFacets-toggle-icon">&#x00bb;</span>
                </span>
                <span class="kscr-SearchFacets-toggle-hideLabel">
                    <span class="kscr-SearchFacets-toggle-icon">&#x00ab;</span> Hide
                </span>
            </a>
        </div>
        <div class="kscr-SearchFacets-facetsContainer" ng-class="{'kscr-SearchFacets-facetsContainer--collapsed' : !isExpanded }">
            <search-facet ng-repeat="facet in facets" facet="facet" results="searchResults"></search-facet>
        </div>
    </div>

    <!-- Search Results -->
    <div class="kscr-Search-results" ng-show="searchCriteria.length > 0">
        <search-results>
            <search-column name="Code" field="courseCode" order="1"></search-column>
            <search-column name="Title" field="title" order="2" url="#"></search-column>
            <search-column name="Credits" field="creditOptions" order="3" filter="creditRangeFormatter"></search-column>
            <search-list search-results="filteredResults"
                         search-columns="searchColumns"
                         search-criteria="{{searchCriteria}}"
                         state="searchState"
                         term-name="{{term.termName}}"
                         details-id="courseId"
                         default-field="courseCode"
                         on-click="viewDetails"
                         show-mobile="true"
                         no-results="courseSearchNoResults.html">
                            </search-list>
        </search-results>
    </div>

    <script type="text/ng-template" id="courseSearchNoResults.html">
        <div class="kscr-Search-no-results-suggestions">We couldn't find anything matching your search.</div>
    </script>

</div>