<div class="kscr-Main-searchWrapper" ng-class="{ 'kscr-Main-searchWrapper--active' : uiState.indexOf('root.search') !== -1 }">
    <div>
        <!-- Search Heading -->
        <div class="kscr-MainHeading util-Grid util-Grid--center">
            <div class="util-Grid-cell">
                <a id="go_to_schedule" ui-sref="root.schedule">
                    <div class="kscr-Button-directional-left">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                </a>
                <div class="kscr-MainHeading-header">Search</div>
                <a id="go_to_cart" ui-sref="root.cart">
                    <div class="kscr-Button-directional-right">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <div class="kscr-MainHeading-roundedText">{{cartCourseCount()}}</div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Search Container -->
        <div class="kscr-Search">
            <!-- Search Form - Shown in mobile-only -->
            <div class="kscr-SearchForm" ng-show="searchForm()">
                <search-form></search-form>
            </div>

            <!-- Search Content Container (Results & Details) - ui-view contents get put here -->
            <div class="kscr-Search-content" ui-view></div>
        </div>
    </div>
</div>
