<div class="kscr-Search-results-heading" ng-show="searchCriteria.length > 0">
    <div id="search_results_summary" class="kscr-Search-results-summary">
        <span ng-if="displayRangeMin() === displayRangeMax() && searchResults.length > 0">Showing {{displayRangeMin()}}</span>
        <span ng-if="displayRangeMin() !== displayRangeMax() && searchResults.length > 0">
            Showing {{displayRangeMin()}} - {{displayRangeMax()}} of {{searchResults.length}} results for "{{searchCriteria}}" in {{termName}}
        </span>
        <span ng-if="searchResults.length === 0">{{searchResults.length}} results found</span>
    </div>
    <div class="kscr-Search-results-picker" ng-if="searchResults.length > 0">
        <span>Show</span>
        <select id="display_limit_select" ng-model="$parent.displayLimit" ng-options="limit as limit for limit in displayLimits" class="kscr-Search-results-limits"></select>
    </div>
</div>
<div class="kscr-Search-results-heading--small" ng-if="searchCriteria.length > 0">
    <span>{{searchResults.length}} Results</span>
</div>
<table id="{{prefix}}search_results_table" class="kscr-Search-results-table"
       ng-class="{'kscr-Search-no-results-table' : searchResults.length == 0}" ng-hide="searchResults.length == 0">
    <thead class="kscr-Search-results-table-head">
        <tr>
            <th class="kscr-Search-results-indicator-header" ng-class="{'kscr-Search-results-indicator-header--selected': predicate === '{{searchColumns[0].field}}'}"></th>
            <th class="kscr-Search-results-header kscr-Search-results-column-{{searchColumn.name | cleanse}}" ng-repeat="searchColumn in searchColumns"
                ng-class="{'kscr-Search-results--selected': $parent.predicate === '{{searchColumn.field}}',
                           'kscr-Search-results--first' : $index === 0}"
                ng-click="sortColumn(searchColumn)"
                ng-hide="searchColumn.optional && !hasData('{{searchColumn.field}}')">
                <div class="kscr-Search-results-header-content">
                    <div class="kscr-Search-result-column">{{searchColumn.name}}</div>
                    <i id="sort_selector_{{searchColumn.name}}" class="kscr-Search-results-sortIcon" ng-if="searchColumn.sortable"
                       ng-class="{'kscr-Search-results-sortIcon--up': !$parent.reverse && ($parent.predicate === '{{searchColumn.field}}'),
                                  'kscr-Search-results-sortIcon--down': $parent.reverse && ($parent.predicate === '{{searchColumn.field}}')}">
                    </i>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="searchResult in searchResults | orderBy : predicate : reverse | startFrom:(page-1)*displayLimit | limitTo:limit"
            ng-init="filteredDefault = applyFilter(searchResult, defaultField, searchColumn.filter)"
            id="course_detail_row_{{filteredDefault}}" class="kscr-Search-row"
            ng-class="{'kscr-Search-row--clickable' : onClick, 'kscr-Search-row--disabled' : searchResult.flags.disabled,
                       'kscr-Search-row--selected' : searchResult.flags.selected,
                       'kscr-Search-row--bottom' : last && $last}"
            ng-hide="searchResult.flags.hidden" ng-click="emitEvent(onClick, searchResult)">
            <td ng-class="{true: 'kscr-Search-results-indicator--' + (searchResult.indicatorType), false: 'kscr-Search-results-indicator'}[searchResult.indicatorIcon]">
                <i ng-if="searchResult.indicatorIcon" class="glyphicon glyphicon-{{searchResult.indicatorIconType}}"></i>
            </td>
            <td ng-repeat="searchColumn in searchColumns" class="kscr-Search-results-cell kscr-courseSearch-results-cell--{{searchColumn.name}}"
                ng-hide="searchColumn.optional && !hasData('{{searchColumn.field}}')"
                ng-class="{'kscr-Search-results--first' : $first,
                'kscr-Search-results-cell--highlight' : (searchResult.flags.highlight && searchColumn.highlight)}">
                <span ng-class="{'kscr-Search-results-cell--clickable' : searchColumn.url}" compile="applyFilter(searchResult, searchColumn.field, searchColumn.filter)"></span>
                <span id="select_{{filteredDefault}}" class="kscr-Search-checkbox"
                      ng-if="searchColumn.checkbox" ng-hide="searchResult.flags.disabled"
                      ng-class="{'kscr-Search-checkbox--selected' : searchResult.flags.selected}"></span>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="searchResults.length == 0 && noResults" ng-include="noResults"></div>
<div id="search-results-list" class="kscr-Search-results-list" ng-if="showMobile">
    <div class="kscr-Search-result" ng-init="filteredDefault = applyFilter(searchResult, defaultField, searchColumn.filter)"
         id="course_detail_result_{{filteredDefault}}"
         ng-click="emitEvent(onClick, searchResult)" ng-repeat="searchResult in searchResults | limitTo:mobileLimit">
        <div id="search-result-column-{{filteredDefault}}-{{searchColumn.field}}"
             class="kscr-Search-result-column-{{searchColumn.field}}"
             ng-repeat="searchColumn in searchColumns"
             ng-bind-html="applyFilter(searchResult, searchColumn.field, searchColumn.filter)">
        </div>
    </div>
</div>
<div class="kscr-Search-results-paginate" ng-show="searchCriteria && (lastPage() > 1)">
    <div class="kscr-Search-results-pageBox">
        <a id="firstPageLink" ng-show="page > 1" ng-click="page = 1;">|&lt;</a>
        <span id="firstPage"ng-show="page <= 1">|&lt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a id="prevPageLink" ng-show="page > 1" ng-click="page = page-1;">&lt;</a>
        <span id="prevPage" ng-show="page <= 1">&lt;</span>
    </div>
    <div ng-repeat="pageNum in pageRange()">
        <div class="kscr-Search-results-pageBox">
            <a ng-show="page != pageNum" ng-click="$parent.page = pageNum">{{pageNum}}</a>
            <span ng-show="page == pageNum">{{pageNum}}</span>
        </div>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a id="nextPageLink" ng-click="page = page+1;" ng-show="(page * displayLimit) < searchResults.length">&gt;</a>
        <span id="nextPage" ng-show="(page * displayLimit) >= searchResults.length">&gt;</span>
    </div>
    <div class="kscr-Search-results-pageBox">
        <a id="lastPageLink" ng-show="page < lastPage()" ng-click="page = lastPage();">&gt;|</a>
        <span id="lastPage" ng-show="page >= lastPage()">&gt;|</span>
    </div>
</div>
